---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION, GLOBAL_STYLE, BIO, AVATAR_SRC} from '../consts';
import Card from '@/components/Card.astro';
import PostCard from "../components/PostCard.astro";
import FriendCard from '../components/FriendCard.astro';

---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <div class="page-title">
        <Card variant="glass" id="friends-link-title">
            {/* 移除内联样式 */}
            <h2>Friends' Link</h2>
        </Card>
    </div>
    <div class="friend-card-container">
        <FriendCard avatar="/friends-avatar/asuka.webp" name="Asuka Minato" description="" link="https://asukaminato.eu.org/" />
        <FriendCard avatar="/friends-avatar/non_hana.webp" name="non_hana" description="" link="https://greyflowers.moe" />
        <FriendCard avatar="/friends-avatar/muska-ami.avif" name="夏沫花火zzz" description="" link="https://blog.1l1.icu" />
        <FriendCard avatar="/friends-avatar/alice.webp" name="Alice Aierlanta" description="" link="https://blog.aierlanta.net" />
        <FriendCard avatar="/friends-avatar/toya.jpg" name="Fuyutsuki Toya" description="" link="https://toya.moe" />
        <FriendCard avatar="/friends-avatar/shinnku.webp" name="Shinnku Nikaidoou" description="" link="https://nkd.red" />
        <FriendCard avatar="/friends-avatar/yurzhang.webp" name="Yurzhang" description="" link="https://yurzhang.com" />
    </div>
</main>

<Footer/>
</body>
</html>

<style>

    #friends-link-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        max-width: 35rem;
        width: 100%;
        margin: 0 auto;
    }
.friend-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Changed to center */
    gap: 1rem; /* Added gap */
  }
    main {
        max-width: 70rem;
        width: 100%;
        margin: 3rem auto;
        padding: 0 1rem;
    }

    main > * {
        margin-bottom: 2rem;
    }

    main > *:last-child {
        margin-bottom: 0;
    }


    .icon-link {
        height: 2rem;
        width: 2rem;
    }

    .page-title {
        font-size: x-large;
        text-align: center;
    }

    /* 修改样式规则，提高优先级 */
    main .page-title h1 { /* 在前面加上 main */
        color: var(--color-primary) !important;
        text-align: center;
    }

</style>