---
import {COPYRIGHT_NAME, GLOBAL_STYLE} from "../consts";
import "@/styles/components.scss";
import {clsx} from "clsx";
const today = new Date();
---

<footer
    id="footer-container"
    class={clsx(
        "card",
        GLOBAL_STYLE === 'glass' && 'glass',
        GLOBAL_STYLE === 'lightGlass' && 'light-glass',
    )}
>
    <div class="footer-content">
        <span class="copyright">Copyright &copy; {today.getFullYear()}&nbsp;{COPYRIGHT_NAME}</span>
        <span class="separator">|</span>
        <a class="link" href="https://icp.gov.moe/?keyword=20250160" target="_blank">萌ICP备20250160号</a>
        <span class="separator">|</span>
        Powered by <a class="link" href="https://github.com/koibumi-design/astro-blog">Koibumi Design</a>
    </div>
</footer>

<style>
    #footer-container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    footer {
        text-align: center;
    }
</style>